.settings-page {
    display: flex;
    flex-direction: row;
}

#nav-buttons {
    display: flex;
    position: absolute;
    left: 580px;
    top: 0px;
}

input {
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Orbitron";
}

li,
button {
    font-family: "Orbitron";
}

#error-message {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 100px;
}

#reasons-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-top: 2%;
    padding-bottom: 5%;
}

#reasons-list div {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 1%;
    min-height: 2em;
}

#reasons-list .reason-object {
    border: 2px solid white;
}

#reasons-list p {
    width: 100%;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-left: 2%;
}

#reasons-list button {
    margin-top: 1%;
    width: 15em;
    min-height: 4.25em;
}

.add-pause-reason-form h2 {
    padding-left: 6.5em;
    text-decoration: underline;
    font-family: "Orbitron";
}

.pause-reasons {
    top: 150px;
    left: 40px;
    position: absolute;
    border: 4px solid white;
    padding-left: 15px;
    padding-right: 17px;
    border-radius: 8px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 500px;
}

.user-selection {
    top: 150px;
    right: 40px;
    position: absolute;
    border: 4px solid white;
    padding-left: 17px;
    border-radius: 8px;
    width: 40%;
}

input {
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    font-family: "Orbitron";
}

#users-list {
    padding-top: 2%;
    padding-bottom: 1%;
}

.add-user-form h2 {
    padding-left: 5.4em;
    text-decoration: underline;
    font-family: "Orbitron";
}

#users-list div {
    display: flex;
    flex-direction: row;
    gap: 6em;
    min-width: 70%;
    max-width: 70%;
    min-height: 3em;
    margin-top: 1%;
}

#users-list p {
    min-width: 100%;
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
    padding-right: 1%;
}

.account-object {
    border: 2px solid white;
}

#users-list button {
    margin-top: 1%;
    width: 15em;
    height: 3em;
}

.add-user-form #user-add-input {
    width: 25%;
    height: 2em;
    font-size: 20px;
}

.add-user-form #user-pass-input {
    width: 40%;
    height: 2.2em;
    font-size: 18px;
    margin-left: 1%;
}

.add-user-form #priv-select {
    width: 2em;
    height: 2.2em;
    font-size: 20px;
    margin-left: 1%;
}

.modal-overlay {
    position: absolute;
    right: 100px;
    left: 750px;
    bottom: 215px;
    top: 90px;
    background-color: #242424;
    border: 4px solid white;
    padding: 2%;
    width: 35%;
    height: 32em;
    z-index: 9999;
}

.pagination-buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-right: 6%;
    margin-left: 2%;
    margin-bottom: 2%;
}

.pagination-buttons button {
    width: 13em;
    height: 3em;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    gap: 10em;
}

.modal-buttons button {
    height: 4em;
    width: 20em;
}

.modal h3 {
    padding-left: 32%;
}

#add-user-button {
    min-width: 5em;
    min-height: 3em;
    font-size: 14px;
    margin-left: 1%;
}

.account-object {
    display: flex;
    flex-direction: row;
}

.account-status {
    padding-top: 0.3em;
}

.reason-object {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}

.reason-object p {
    min-width: 80%;
}

#reason-status {
    padding-top: 1.5%;
}

.user-control-button {
    margin-bottom: -2em;
    margin-left: -5em;
    min-width: 13em;
    min-height: 3.2em;
    max-width: 5em;
    border-radius: 0;
}

.user-control-button-active {
    margin-bottom: -2em;
    margin-left: -5.5em;
    min-width: 7em;
    min-height: 3.2em;
    max-width: 2em;
    border-radius: 0;
    font-size: 15px;
}

#update-element {
    display: flex;
    margin-left: -120%;
    margin-top: 170%;
}