.build-chart {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 50px;
    right: 20px;
}

.harn-build-chart-info {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    width: 25%;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 10px;
    top: 120px;
    padding-left: 1%;
}

.harn-build-chart-info p {
    font-family: "RobotoMono";
    font-size: 20px;
}

.timer {
    display: flex;
    position: absolute;
    bottom: 6.9em;
    left: 600px;
    font-size: 110px;
    font-family: "Orbitron";
}

@keyframes runningDivAnimation {
    0% {
        background-color: green;
    }
    50% {
        background-color: rgb(13, 31, 13);
    }
    100% {
        background-color: green;
    }
}

.indication-div-on {
    display: flex;
    position: absolute;
    animation-name: runningDivAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    top: 40px;
    left: 1225px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

@keyframes pauseDivAnimation {
    0% {
        background-color: red;
    }
    50% {
        background-color: rgb(53, 35, 35);
    }
    100% {
        background-color: red;
    }
}

.indication-div-off {
    display: flex;
    position: absolute;
    animation-name: pauseDivAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    top: 40px;
    left: 1225px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.progress {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 8px;
    top: 2em;
    font-family: "Orbitron";
}

.harn-progress-item p {
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 0.5em;
    padding: 0.1em;
    border: 1px solid white;
}
