#reasons-list div:not(#RT-logo) {
    height: 5vw;
}

#reasons-list div p:not(#RT-logo p) {
    padding-top: 2.5%;
}

#reasons-list button {
    height: 4vw;
}

#reasons-list {
    display: flex;
    flex-direction: column;
}
