#RT-logo-static {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40px;
    right: 25px;
}

#RT-part-one-static {
    font-size: 35px;
    font-family: "RT-Text";
    padding-right: 2%;
}

#RT-part-two-static {
    padding-top: 10%;
    font-size: 20px;
    font-family: "RT-Text";
}
