body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.timing-page {
    display: flex;
    flex-direction: row;
}
#timer {
    width: 8ch;
    font-size: 90px;
    font-family: "Orbitron";
}

#buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 60px;
    margin-right: 4%;
    border-right: 3px solid white;
    padding-right: 4%;
    font-family: "Orbitron";
}

#pause-button {
    margin-top: 8%;
    align-content: center;
    width: 360px;
    height: 105px;
    font-size: 40px;
    border-radius: 20px;
}

#end-button {
    box-shadow: 0 4px, 4px, grey;
    margin-top: 8%;
    width: 360px;
    height: 105px;
    font-size: 40px;
    border-radius: 20px;
}

#start-button {
    box-shadow: 0 4px, 4px, grey;
    width: 360px;
    height: 105px;
    font-size: 40px;
    border-radius: 20px;
}

#submit-time-button {
    width: 360px;
    height: 105px;
    font-size: 40px;
    border-radius: 20px;
}

#end-button:active {
    background-color: red;
    transform: translateY(4px);
    box-shadow: inset 0px -5px white;
}

#start-button:active {
    background-color: green;
    transform: translateY(4px);
    box-shadow: 0 -5px white;
}

#pause-button:active {
    background-color: yellow;
    transform: translateY(4px);
    box-shadow: 0 -5px yellow;
    color: black;
}

#submit-time-button:active {
    background-color: purple;
    transform: translateY(4px);
    box-shadow: 0 -5px purple;
}

hr {
    width: 350px;
}

@keyframes startButtonAnimation {
    0% {
        background-color: green;
    }
    50% {
        background-color: rgb(14, 36, 14);
    }
    100% {
        background-color: green;
    }
}

@keyframes stopButtonAnimation {
    0% {
        background-color: red;
    }
    50% {
        background-color: rgb(53, 16, 16);
    }
    100% {
        background-color: red;
    }
}

@keyframes pauseButtonAnimation {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: rgb(49, 49, 17);
    }
    100% {
        background-color: yellow;
    }
}

#start-button.pressed {
    background-color: green;
    animation-name: startButtonAnimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#pause-button.pressed {
    background-color: yellow;
    animation-name: pauseButtonAnimation;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
    color: black;
}

#end-button.pressed {
    background-color: red;
    animation-name: stopButtonAnimation;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

#start-button.pressed ~ #colour-indicator {
    border: 1px solid green;
}

#pause-button.pressed ~ #colour-indicator {
    border: 1px solid yellow;
}

#end-button.pressed ~ #colour-indicator {
    border: 1px solid red;
}

#start-button.pressed ~ #submit-time-button {
    color: gray;
}

#error-timer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#error-message {
    color: red;
    font-size: 25px;
}

#RT-logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    right: 40px;
}

#RT-part-one {
    font-size: 50px;
    font-family: "RT-Text";
    padding-right: 2%;
}

#RT-part-two {
    padding-top: 20%;
    font-size: 25px;
    font-family: "RT-Text";
}

#db-success {
    font-size: 15px;
}

.harn-build-info {
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    width: 70%;
    margin-right: 30%;
    padding-left: 2%;
    margin-bottom: 9%;
    margin-top: -10%;
}

.harn-build-info p {
    font-size: 1.4em;
    width: 25em;
    font-family: "RobotoMono";
}

#nav-buttons {
    display: flex;
    padding-top: 2%;
    gap: 1.5em;
}